:root{
    --azul-escuro:#1A4F63;
    --azul:#068587;
    --verde:#6FB07F;
    --amarelo:#FCB03C;
    --laranja:#FC5B3F;
}

body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Raleway";
    font-weight: 700;
}
.container{

}

input[type="email"], input[type="password"], input[type="text"]{

}
input[type="submit"]{

}
input[type="submit"]:hover{

}
.cadastro-link{

}
.cadastro-link:hover{

}